.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--main-text-color);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.task-container.completed {
    background-color: rgba(198, 198, 198, 0.5);
    text-decoration: line-through;
}

.task-title {
    overflow-wrap: break-word;
}

.task-delete-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.task-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}