.todo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--main-text-color);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.todo-container.completed {
    background-color: var(--disabled-text-color);
    text-decoration: line-through;
}

.todo-container.editing {
    animation: blink 0.4s infinite alternate;
}

.todo-title {
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    font-size: 16px;
}

.todo-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin: 0 4px;
}

.todo-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@keyframes blink {
    0% {
        border-color: var(--main-text-color);
    }
    100% {
        border-color: var(--disabled-text-color);
    }
}